@model List<y.Models.Article>
@using y.Models
@{
    var query = Context.Request.Query["query"].ToString();
    int cnt = cnt = Convert.ToInt32(ViewData["TotalArticles"]);

}
<ul>
    @foreach (var article in Model)
    {
        <li>
            <article class="box post post-excerpt">
                <header>
                    <h2><a href="#">@article.Title</a>  </h2>
                    <p>@article.Description</p>

                    @* render add or remove fav article and call controller from the form *@
                    @if (!string.Equals(query, "saved", StringComparison.OrdinalIgnoreCase))
                    {
                        <form asp-action="AddFavoriteArticle" asp-controller="Account" method="post">
                            <input type="hidden" name="articleUrl" value="@article.Url" />
                            <input type="hidden" name="title" value="@article.Title" />
                            <button type="submit" style="margin:2%;">Add to Favorites</button>
                        </form>
                    }
                        else
                    {
                        <form asp-action="RemoveFavoriteArticle" asp-controller="Account" method="post">
                            <input type="hidden" name="articleUrl" value="@article.Url" /> 
                        <button type="submit" style="margin:2%;">Remove from Favorites</button>
                        </form>
                    }
                </header>

                @* displaying the articles *@
                <div class="info">
                    @if (article.PublishedAt != DateTime.MinValue){
                    <span class="date"><span class="month">@article.PublishedAt.ToString("MMM")<span>y</span></span> <span class="day">@article.PublishedAt.Day.ToString()</span></span>
                    <span class="month">@article.PublishedAt.Year.ToString(), @article.PublishedAt.ToString("hh tt")</span>
                    }
                </div>
                <a href="#" class="image featured"><img src="@article.Image" alt="" /></a>
                <p>@article.Content</p>
                <a href="@article.Url">Read more</a>
            </article>
        </li>
    }
</ul>
<div class="pagination">
    <div class="pages">
        @for (int i = 1; i <= (int)Math.Ceiling(cnt / 2.0); i++)
        {
            int page;
            if (!int.TryParse(ViewBag.Page as string, out page))
            {
                page = 1;
            }
            var isActive = i == page ? "active" : "";
            string q = "tech";
            if (ViewBag.Query != null)
            {
                q = ViewBag.Query;
            }

            <a href="?query=@q&page=@i" class="@isActive">@i</a>
        }
    </div>
    <a href="?query=@ViewBag.Query&page=@(Convert.ToInt32(ViewBag.Page) + 1)" class="button next">Next Page</a>
</div>
